@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'tailwindcss';

.bebas{
  font-family: "Bebas Neue", sans-serif;
}
@theme inline {
  --animate-move: move 5s linear infinite;
 
  @keyframes move {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(200px);
    }
  }
}